.jumbotron {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  background-color: yellow;
}
#enter-name {
  margin-bottom: 30px;
}
#user-size {
  margin-bottom: 20px;
}
#order-button {
  margin-bottom: 20px;
}
#order-price {
  padding-bottom: 50px;
}
