.jumbotron {
  text-align: center;
  background-color: yellow;
}
#user-size {
  margin-bottom: 20px;
}
#order-button {
  margin-bottom: 20px;
}
#enter-name {
  display: block;
  text-align: center;
}
